footer {
    p {
        color: black;
        font-size: $font-size-default;
        font-family: 'Satisfy', cursive;
        font-family: 'Tangerine', cursive;

        a{
            color: aquamarine;
        }
    }
}