header .container {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.hero {
align-items: flex-end;
background-image: url('../assets/green-dress.jpeg');
background-color: #e4dec7;
background-repeat: no-repeat;
background-position: center;
height: 45rem;
display: flex;
padding-bottom: 4rem;
overflow: hidden;
width: 100%;
border: 2px solid black;

h1 {
    font-size: 4rem;
    color: white;
    font-family: 'Satisfy', cursive;
    font-family: 'Tangerine', cursive;
    padding: 1rem 0 0 ;
    text-align: center;
    height: 30rem;
    width: 100%;
}

@media (max-width: 767px){
    img {
        margin-left: -50%;
        position: relative;
        width: 230%;
        max-width: none;
        margin-right: -68%;
        margin-top: 90px;
    }
}

}