.nav {
    display: flex;
    justify-content: space-between;
    width: 280px;
    align-items: center;
   
    &__item {
        color: black;
        font-size: 3rem;
        text-decoration: none;
        position: relative;
        font-family: 'Satisfy', cursive;
        font-family: 'Tangerine', cursive;
        &:hover {
            color: $color-bg-button;
            animation: toTop;
            animation-duration: 1s;
        }

}

}

