.vitrine {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    &__item {
        background-color: $color-bg-button;
        border-radius: 1rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        height: 95rem;
        padding: 1rem;
        position: relative;

        &:hover {
            animation: toTop;
            animation-duration: 1s;
            box-shadow: 0 0 2px 2px rgb(17, 6, 6);
        }



    }

    &__image {
        justify-content: center;
        display: flex;
        width: 100%;
    }

    &__title {
        font-size: 3rem;
        color: $color-bg-default;
        text-align: center;
        width: 100%;
    }

    &__desc {
        color: $color-font;
        font-size: $font-size-default;
    }

    &__button {
        box-shadow: 0 0 2px 2px #f1ebeb;
        background-color: rgb(255, 206, 147);
        border: 1rem;
        border: 1px solid;
        color: rgb(255, 255, 255);
        font-weight: bold;
        padding: 1rem 2rem;
        font-size: $font-size-default;
        text-decoration: none;
        align-self: center;
        margin-bottom: 2rem;

        &:hover {
            box-shadow: 0 0 2px 2px rgb(236, 173, 96);
        }
    }
}