$color-font: #030303;
$color-bg-default: #949565;
$color-bg-boxes: #c1bd96;
$color-bg-background: #e4dec7;
$color-bg-font: 	#dbd3ab;
$color-bg-button: 	#FFEBCD;
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 2.5rem;
$font-size-navigation: 1.8rem;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&family=Oswald&display=swap');

@viewport {
    width: device-width;
    zoom: 1;
}

*{
    box-sizing: border-box;
    // considera o padding e border como parte do cálculo total da largura e altura
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    background-color: #fff;
    margin: 0;
}

h1 {
    color: $color-bg-default;
    font-family: 'Satisfy', cursive;
    font-family: 'Tangerine', cursive;
    font-size: 5rem;
    text-align: left;
}

.logo {
    position: center;
}

article {
    font-family: 'Satisfy', cursive;
    font-family: 'Tangerine', cursive;
    padding: 20px;
    h1{
        color: $color-bg-default;
        font-size: 5rem;
        text-align: left;
        padding: 15px;
    }
}

h2 {
    color: #fff;
    font-family: 'Dancing Script', 'Oswald', cursive, ;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 4rem;
    text-shadow: 1px 5px 8px #fd87aa;

}
#root,
header,
section,
footer {
    display: block;
    float: left;
    width: 100%;
}

section{
    padding: 4rem 0;
    margin: 0;
}

// SASS
.container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: 85vw;

    /*@media (max-width: 786px){
        max-width: 99%;
        
    }

    @media (min-width: 1024px){
       background-color: #dbd3ab;
       max-width: 100%;
       box-sizing: border-box;
        
    }

// CSS
    @media (min-width: 1024px){
        .container{
            background-color: #dbd3ab;
            
        }
        
         
     } */

    

}


@import 'sobre';
@import 'produtos';
@import 'animations';
@import 'vitrine';
@import 'nav';
@import 'header';
@import 'footer';
@import 'contato';
@import 'responsive'
